body {
    background-color:#D5D5D5;
  
}

h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 26.4px;
    color: #FFFFFF
}
h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 15.4px;
    text-align= justify;
}
p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center
}
blockquote {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
    background-color:#9099A2;
    border-radius: 50px 50px;
    margin-bottom:10px;
    margin-top: 10px;
    padding: 10px;
    text-align: center

}



.Topcolor{
    background-color: #062F4F;


@media screen and (max-width: 600px) {
    blockquote {
        font-size: 20%;
    }
}
@media screen and (max-width: 600px) {
    p {
        font-size: 20%;
    }}
@media screen and (max-width: 600px) {
    h1 {
        font-size: 20%;
    }}

@media screen and (max-width: 600px) {
    ul {
        font-size: 20%;
    }}
